@import 'tailwindcss';

@plugin "daisyui" {
    themes:
        nord --default,
        sunset;
}

@custom-variant dark (&:where([data-theme=sunset], [data-theme=sunset] *));

@view-transition {
    navigation: auto;
}

@layer base {
    :root {
        --standings-col-rank: 40px;
        --standings-col-team: 205px;
        --standings-col-stat: 40px;
        --standings-row-height: 80px;
    }

    @media (max-width: 640px)  {
        :root {
            --standings-col-rank: 25px;
            --standings-col-team: 30px;
            --standings-col-stat: 20px;
        }
    }
    @media (min-width: 768px) {
        :root {
            --standings-col-rank: 35px;
            --standings-col-team: 190px;
            --standings-col-stat: 35px;
        }
    }

}

.standings-row-grid {
    grid-template-columns:
        var(--standings-col-rank)
        var(--standings-col-team)
        repeat(4, var(--standings-col-stat));
}

.standings-header-grid {
    grid-template-columns:
        var(--standings-col-rank)
        var(--standings-col-team)
        repeat(4, var(--standings-col-stat))
        1fr;
}

@utility standings-row-base {
    @apply h-(--standings-row-height) px-1 sm:px-2 mb-2 bg-base-200 hover:bg-base-300;
}

@utility standings-header-cell {
    @apply flex items-center text-[10px] md:text-xs font-bold;
}

html.stats-hidden [data-stat-cell],
html.stats-hidden .stat-points-back {
    display: none;
}
html.stats-hidden .standings-row-grid {
    grid-template-columns:
        var(--standings-col-rank)
        var(--standings-col-team);
}
html.stats-hidden .standings-header-grid {
    grid-template-columns:
        var(--standings-col-rank)
        var(--standings-col-team)
        1fr;
}
