---
type Props = {
    pts: number;
    gr: number;
    rw: number;
    ppr: number;
};

const { pts, gr, rw, ppr } = Astro.props;

const values = [pts, gr, rw, ppr];
---

{values.map((value) => (
    <div data-stat-cell class="w-(--standings-col-stat) text-center text-xs font-medium md:text-lg shrink-0">
        {value}
    </div>
))}
