---
type Data = {
    label: string;
    stat: string | number;
};

type Props = {
    data: Data[];
};

const {
    data,
} = Astro.props;
---

<div class="flex gap-1 sm:gap-4 mt-1">
    {data.map(({ label, stat }) => {
        return (
            <div class="text-center max-w-10 sm:max-w-15">
                <div class="text-xs sm:text-lg font-medium">
                    {stat}
                </div>
                <div class="text-[8px]/[10px] sm:text-xs">
                    {label}
                </div>
            </div>
        );
    })}
</div>
