---
import Layout from '@/layouts/Layout.astro';
import TeamHeader from '@/components/TeamHeader.astro';
import TeamSchedule from '@/components/TeamSchedule.astro';
import Link from '@/components/Link.astro';

import { getWildcardTeams } from '@/data/Standings.ts';

import { type ConferenceAbbrev } from '@/data/nhl';

const wildcardTeams = await getWildcardTeams();

const confs = {
	E: 'East',
	W: 'West',
} as const;
---

<Layout>

	<h1 class="text-3xl">
		NHL Wildcard Races
	</h1>

	{Object.entries(wildcardTeams).map(([confCode, teams]) => {

		return (

			<h2 class="font-medium text-2xl mt-8 mb-4">
				{confs[confCode as ConferenceAbbrev]}
			</h2>

			<div>
				{teams.map((team) => {
					return (
						<div class="rounded-lg bg-white dark:bg-zinc-900 border-1 dark:border-zinc-800 border-slate-100 p-6 shadow mb-4 w-[fit-content]">
							<TeamHeader teamCode={team.teamCode} />
							<TeamSchedule
								teamCode={team.teamCode}
								points={team.points}
							/>
						</div>
					);
				})}
			</div>
		);

	})}

	<p class="text-center my-12">
		Built by <Link href="https://johnzanussi.com/">John Zanussi</Link> with <Link href="https://astro.build/">Astro</Link> and <Link href="https://tailwindcss.com/">Tailwind</Link>. <br />Inspired by <Link href="https://www.reddit.com/r/hockey/comments/1jn7rlh/wildcard_races_mar_29/">u/Sarke1</Link>.
	</p>

</Layout>
