---
import Layout from '@/layouts/Layout.astro';
import DateFormat from '@/components/DateFormat.astro';
import Standings from '@/components/Standings.astro';
import Footer from '@/components/Footer.astro';

import Logo from '@/assets/logo.svg';
---

<Layout>

	<div class="flex justify-between items-end">

		<div class="flex items-center gap-2">

			<Logo class="w-12 text-base" />

			<h1 class="text-2xl md:text-3xl font-medium">
				NHL Wild Card Races
			</h1>

		</div>

		<span class="text-xs text-end">
			Last updated <br /><DateFormat />
		</span>

	</div>

	<Standings />

	<Footer />

</Layout>
