---
import Link from '@/components/Link.astro';
---
<footer class="footer sm:footer-horizontal footer-center py-10">

    <aside>

        <p class="mb-4">
            Built by <Link href="https://johnzanussi.com/">John Zanussi</Link> with <Link href="https://astro.build/">Astro</Link> and <Link href="https://daisyui.com/">daisyUI</Link>.
        </p>

        <p class="mb-4">
            Inspired by <Link href="https://www.reddit.com/r/hockey/comments/1jn7rlh/wildcard_races_mar_29/">u/Sarke1</Link>.
        </p>

        <p>View the code on <Link href="https://github.com/johnzanussi/nhl-wildcard-races">GitHub</Link>.</p>

    </aside>

</footer>
