---
import Link from '@/components/Link.astro';
---
<div class="my-12 text-center">

    <p class="mb-6">
        Built by <Link href="https://johnzanussi.com/">John Zanussi</Link> with <Link href="https://astro.build/">Astro</Link> and <Link href="https://tailwindcss.com/">Tailwind</Link>.
    </p>

    <p class="mb-6">
        Inspired by <Link href="https://www.reddit.com/r/hockey/comments/1jn7rlh/wildcard_races_mar_29/">u/Sarke1</Link>.
    </p>

    <p>View the code on <Link href="https://github.com/johnzanussi/nhl-wildcard-races">GitHub</Link>.</p>

</div>
