---
import type { HTMLAttributes } from 'astro/types';
export type Props = HTMLAttributes<'a'>;

const { href, class: className, ...rest } = Astro.props;

if (href?.toString().startsWith('http')) {
    rest.target = '_blank';
    rest.rel = 'noopener noreferrer';
}
---
<a href={href} {...rest} class:list={['link', className]}><slot /></a>
