---
import { type TeamCode, REGULAR_SEASON_GAMES } from '@/data/nhl';

import { getLastGames } from '@/data/Schedule.ts';
import GameResult from './GameResult.astro';

type Props = {
    teamCode: TeamCode;
    size?: number;
}

const {
    teamCode,
    size = 40,
} = Astro.props;

const results = await getLastGames(teamCode, REGULAR_SEASON_GAMES);
---

<div class="schedule flex gap-2">

    {results.map(game => {
        return (
            <GameResult game={game} size={size} />
        );
    })}

</div>