---
import { type TeamCode } from '@/data/nhl';
import { getTeamName } from '@/data/Teams.ts';

type Props = {
    teamCode: TeamCode;
};

const teamName = getTeamName(Astro.props.teamCode);
---

<h3 class="font-medium text-xl">
    {teamName}
</h3>
